
@font-face {
  font-family: 'Yantramanav-Black';
  src: url('Yantramanav-Black.eot?#iefix') format('embedded-opentype'),  url('Yantramanav-Black.woff') format('woff'), url('Yantramanav-Black.ttf')  format('truetype'), url('Yantramanav-Black.svg#Yantramanav-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}
