
@font-face {
  font-family: 'Exo2-SemiBold';
  src: url('Exo2-SemiBold.eot?#iefix') format('embedded-opentype'),  url('Exo2-SemiBold.woff') format('woff'), url('Exo2-SemiBold.ttf')  format('truetype'), url('Exo2-SemiBold.svg#Exo2-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
