
@font-face {
  font-family: 'Exo2-LightItalic';
  src: url('Exo2-LightItalic.eot?#iefix') format('embedded-opentype'),  url('Exo2-LightItalic.woff') format('woff'), url('Exo2-LightItalic.ttf')  format('truetype'), url('Exo2-LightItalic.svg#Exo2-LightItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
