
@font-face {
  font-family: 'Exo2-MediumItalic';
  src: url('Exo2-MediumItalic.eot?#iefix') format('embedded-opentype'),  url('Exo2-MediumItalic.woff') format('woff'), url('Exo2-MediumItalic.ttf')  format('truetype'), url('Exo2-MediumItalic.svg#Exo2-MediumItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
