*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}
body {
	min-width: 320px;
	position: relative;
	line-height: 1.4;
	overflow-x: hidden;
	font-family: "Arial", sans-serif;
	font-size: 14px;
}
.hidden {
	display: none;
}
.hr-top{
	margin-top: 0;
	-webkit-box-shadow: 0 11px 12px 8px #fff;
	box-shadow: 0 11px 12px 8px #fff;
}
.sec-maintitle h2{
	color: #132445;
}
.sec-maintitle span{
	font-family: "ArialNarrowBold";
	text-shadow: 3px 3px 2px rgba(47,85,159,.75);
	letter-spacing: -1.5px;
}
.sec-maintitle span:first-child::before{
	content:"";
	background-image: url(img/bg-btn.png);
	height: 33px;
	width: 48px;
	left: 50px;
	position: absolute;
	top: 50px;
}
.hr-bottom{
	-webkit-box-shadow: 0 0 5px 3px #fff;
	box-shadow: 0 0 5px 3px #fff;
	border-width: 1px 0 0;
	border-color: #fff;
	margin-bottom: 45px;
}
.box{
	height: 385px;
	width: 100%;
	background-color: #fff;
	border-radius: 10px;
	border: 1px solid #bfc4d1;
	-webkit-box-shadow: 0 0 5px 1px rgba(80,95,165,.22);
	box-shadow: 0 0 5px 1px rgba(80,95,165,.22);
	padding:13.4% 13.4% 0;
}
.box-item img{
	width: 223px;
	height: 138px;
}
.box h4{
	color: #132445;
}
.box p{
	color: #545668;
}
.sec-about{
	margin-top: 30px;
	min-height: 420px;
	color: #132445;
}
.about-items img{
	padding-bottom: 20px;
}
.about-items p{
	margin-top: -25px;
}
.about-items span{
	padding-left: 15px;
}
.about-us{
	margin-top: 25px;
}
.about-us p{
	margin-top: 35px;
	line-height: 1.9;
}
.about-us a,
.about-us a:hover,
.about-us a:focus,
.about-us a:active{
	color: #2945c0;
	text-decoration: underline;
}
footer{
	background-color: #565f81;
	min-height: 140px;
	color: #dadfeb;
}
.nav.navbar-nav.navbar-left{
	margin-top: 30px;
}
.nav.navbar-nav.navbar-left.terms{
	margin-top: 10px;
	margin-left: 10px;
}
.nav.navbar-nav.navbar-left.terms a{
	color: #9fa8bd;
	padding:0 5px;
	border-right: 1px solid #9fa8bd;
}
.contact{
	margin-top: 40px;
}
.socnet{
	background-color: #373d56;
	padding: 14px 22px;
	border-radius: 10px;
	margin-left: 24px;
	-webkit-box-shadow: inset 3px 3px 3px rgba(0,0,0,.1);
	box-shadow: inset 3px 3px 3px rgba(0,0,0,.1);
}

