
@font-face {
  font-family: 'ElektraLightPro-Bold';
  src: url('ElektraLightPro-Bold.eot?#iefix') format('embedded-opentype'),  url('ElektraLightPro-Bold.otf')  format('opentype'),
	     url('ElektraLightPro-Bold.woff') format('woff'), url('ElektraLightPro-Bold.ttf')  format('truetype'), url('ElektraLightPro-Bold.svg#ElektraLightPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
