
@font-face {
  font-family: 'Bariol-Regular';
  src: url('Bariol-Regular.eot?#iefix') format('embedded-opentype'),  url('Bariol-Regular.otf')  format('opentype'),
	     url('Bariol-Regular.woff') format('woff'), url('Bariol-Regular.ttf')  format('truetype'), url('Bariol-Regular.svg#Bariol-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
