
@font-face {
  font-family: 'Boomboom';
  src: url('Boomboom.eot?#iefix') format('embedded-opentype'),  url('Boomboom.woff') format('woff'), url('Boomboom.ttf')  format('truetype'), url('Boomboom.svg#Boomboom') format('svg');
  font-weight: normal;
  font-style: normal;
}
