@font-face {
    font-family: 'my-font';
    src: url('myfont-webfont.eot');
    src: url('myfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('myfont-webfont.woff2') format('woff2'),
         url('myfont-webfont.woff') format('woff'),
         url('myfont-webfont.ttf') format('truetype'),
         url('myfont-webfont.svg#my-font') format('svg');
    font-weight: normal;
    font-style: normal;

}