body {
	font-family: sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: "RobotoRegular", sans-serif;
	overflow-x: hidden;
}
.hidden {
	display: none;
}
header{
	background-color: #eb4f4e;
}
.navbar-brand{
	font-family: "Bariol-Regular";
	font-size: 15.5pt;
	height: 80px;
	margin-top: -18px;
}
.navbar-inverse .navbar-brand{
	padding-top: 0;
	padding-bottom: 0;
}
.navbar-brand > img{
	vertical-align: baseline;
	margin-right: 10px;

}
.navbar-brand h2{
	margin: 0;
	display: inline-block;
	vertical-align: baseline;
}
.maintitle{
	font-family: "Bariol-Regular";
	color: #fff;
	text-align: center;
}