
@font-face {
  font-family: 'Exo2-ThinItalic';
  src: url('Exo2-ThinItalic.eot?#iefix') format('embedded-opentype'),  url('Exo2-ThinItalic.woff') format('woff'), url('Exo2-ThinItalic.ttf')  format('truetype'), url('Exo2-ThinItalic.svg#Exo2-ThinItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
