
@font-face {
  font-family: 'CandyScript';
  src: url('CandyScript.eot?#iefix') format('embedded-opentype'),  url('CandyScript.woff') format('woff'), url('CandyScript.ttf')  format('truetype'), url('CandyScript.svg#CandyScript') format('svg');
  font-weight: normal;
  font-style: normal;
}
