
@font-face {
  font-family: 'MoulinRouge';
  src: url('MoulinRouge.eot?#iefix') format('embedded-opentype'),  url('MoulinRouge.woff') format('woff'), url('MoulinRouge.ttf')  format('truetype'), url('MoulinRouge.svg#MoulinRouge') format('svg');
  font-weight: normal;
  font-style: normal;
}
