@font-face {
  font-family: 'AndrewScript16';
  font-weight: normal;
  font-style: normal;
  src: url('assets/fonts/AndrewScript16/AndrewScript16.eot?#iefix') format('embedded-opentype'),  url('assets/fonts/AndrewScript16/AndrewScript16.woff') format('woff'), url('assets/fonts/AndrewScript16/AndrewScript16.ttf')  format('truetype'), url('assets/fonts/AndrewScript16/AndrewScript16.svg#AndrewScript16') format('svg');
}
