
@font-face {
  font-family: 'Exo2-RegularCondensed';
  src: url('Exo2-RegularCondensed.eot?#iefix') format('embedded-opentype'),  url('Exo2-RegularCondensed.otf')  format('opentype'),
	     url('Exo2-RegularCondensed.woff') format('woff'), url('Exo2-RegularCondensed.ttf')  format('truetype'), url('Exo2-RegularCondensed.svg#Exo2-RegularCondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}
